:root {
    --theme_color_prime--: rgb(0, 0, 0);
    --theme_color_sec--: rgb(255, 94, 0);
    --title_font--: "Permanent Marker", cursive; font-weight: 400; font-style: normal;
    --lable_font--: "Bebas Neue";
}

  
/*
frame container holding entire body container
*/
.frame {
    background: var(--theme_color_prime--);
    display: flex;
    height: 100vh;
}

.column-1 {
    width: 100%;
    border-right: 20px solid var(--theme_color_sec--);
}

.column-2 {
    width: 100%;
    border-left: 20px solid var(--theme_color_sec--)
}

.column-3 {
    width: 100%;
    border-right: 20px solid var(--theme_color_sec--)
}

.column-4 {
    width: 100%;
    border-left: 20px solid var(--theme_color_sec--)
}

.combos_container {
    display: flex;
    flex-direction: column;
}

.pie_container {
    display: flex;
    flex-direction: column;
}

.sandwiches_container {
    display: flex;
    flex-direction: column;
}

.samoosa_container {
    display: flex;
    flex-direction: column;
}

.hot_beverages {
    display: flex;
    flex-direction: column;
}

.slush_puppy_container {
    display: flex;
    flex-direction: column;
}

.list-title {
    font-family: var(--title_font--);
    font-size: 1.5rem;
    margin: 0 auto;
    min-width: 100%;
    text-align: center;
    background-color: var(--theme_color_sec--);
}

.lable {
    font-family: var(--lable_font--);
    font-size: 1rem;
    display: flex;
    min-width: 100%;
    justify-content: space-between;
    color: var(--theme_color_sec--);
}

.menue-item {
    margin: 0 1rem;
}

.menue-item-price {
    margin: 0 1rem;
}