:root {
    --theme_color_prime--: rgb(0, 0, 0);
    --theme_color_sec--: rgb(255, 94, 0);
    --title_font--: "Permanent Marker", cursive; font-weight: 400; font-style: normal;
    --lable_font--: "Bebas Neue";
}

  
/*
frame container holding entire body container
*/
.frame {
    background: var(--theme_color_prime--);
    display: flex;
    height: 100%;
}

.column-1 {
    border: 2px solid pink;
    width: 33.33%;
}

.column-2 {
    border: 2px solid purple;
    width: 33.33%;
}

.column-3 {
    border: 2px solid green;
    width: 33.33%;
}

.combos_container {
    border: 2px solid yellow;
    display: flex;
    flex-direction: column;
}

.pie_container {
    border: 2px solid orange;
    display: flex;
    flex-direction: column;
}

.sandwiches_container {
    border: 2px solid red;
    display: flex;
    flex-direction: column;
}

.samoosa_container {
    border: 2px solid turquoise;
    display: flex;
    flex-direction: column;
}

.hot_beverages {
    border: 2px solid blue;
    display: flex;
    flex-direction: column;
}

.slush_puppy_container {
    display: flex;
    flex-direction: column;
}

.list-title {
    font-family: var(--title_font--);
    font-size: 1rem;
    margin: 0 auto;
    min-width: 100%;
    text-align: center;
    background-color: var(--theme_color_sec--);
}

.lable {
    font-family: var(--lable_font--);
    font-size: 1rem;
    display: flex;
    min-width: 100%;
    justify-content: space-around;
    color: var(--theme_color_sec--);
}
